body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    min-height: 180vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    /* Thêm khoảng cách từ đỉnh nếu cần */
    padding-bottom: 20px;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    /* Khoảng cách giữa các phần tử */
}

.social-buttons {
    display: flex;
    justify-content: center;
    /* Để căn giữa hàng */
    gap: 30px;
    /* Khoảng cách giữa các button */
}


.button-container {
    height: 45px;
    display: flex;
    justify-content: center;
    /* Để căn giữa hàng */
    gap: 30px;
    /* Khoảng cách giữa các button trong cùng một hàng */
}
/* Thêm chiều cao cho các button */
button {
    font-size: 16px; /* Cỡ chữ trong button */
    display: flex;
    align-items: center; /* Căn giữa nội dung trong button */
    justify-content: center; /* Căn giữa nội dung trong button */
}


/* From Uiverse.io by adamgiebl */
button.btn1 {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

button.btn1 span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.2s ease-in-out;
}

button.btn1 svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.2s ease-in-out;
}

button.btn1:hover .svg-

{
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

button.btn1:hover svg {
    transform: translateX(2.5em) rotate(45deg) scale(1.1);
}

button.btn1:hover span {
    transform: translateX(7em);
}

button.btn1:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}


/* From Uiverse.io by vinodjangid07 */
.loader {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.catContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.catbody {
    width: 80px;
}

.tail {
    position: absolute;
    width: 17px;
    top: 50%;
    animation: tail 0.5s ease-in infinite alternate-reverse;
    transform-origin: top;
}

@keyframes tail {
    0% {
        transform: rotateZ(60deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(-20deg);
    }
}

.wall {
    width: 300px;
}

.text {
    display: flex;
    flex-direction: column;
    width: 50px;
    position: absolute;
    margin: 0px 0px 100px 120px;
}

.zzz {
    color: black;
    font-weight: 700;
    font-size: 15px;
    animation: zzz 2s linear infinite;
}

.bigzzz {
    color: black;
    font-weight: 700;
    font-size: 25px;
    margin-left: 10px;
    animation: zzz 2.3s linear infinite;
}

@keyframes zzz {
    0% {
        color: transparent;
    }

    50% {
        color: black;
    }

    100% {
        color: transparent;
    }
}

/* button 2 */
/* From Uiverse.io by vinodjangid07 */
button.btn2 {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    overflow: hidden;
}

button.btn2 .svgIcon {
    transition-duration: .3s;
}

button.btn2 .svgIcon path {
    fill: white;
}

button.btn2 .text2 {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
}

button.btn2:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
}

button.btn2:hover .text2 {
    opacity: 1;
    transition-duration: .4s;
}

button.btn2:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
}


/* button3 */
/* From Uiverse.io by vinodjangid07 */
button.btn3 {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.151);
    position: relative;
}

button.btn3 .svg3 {
    height: 1.5em;
    fill: white;
}

button.btn3:hover svg3 {
    animation: jello-vertical 0.7s both;
}

@keyframes jello-vertical {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(0.75, 1.25, 1);
    }

    40% {
        transform: scale3d(1.25, 0.75, 1);
    }

    50% {
        transform: scale3d(0.85, 1.15, 1);
    }

    65% {
        transform: scale3d(1.05, 0.95, 1);
    }

    75% {
        transform: scale3d(0.95, 1.05, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

.tooltip {
    width: auto;
    white-space: nowrap;

    position: absolute;
    top: -20px;
    opacity: 0;
    background-color: #ffe53b;
    background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.2s;
    pointer-events: none;
    letter-spacing: 0.5px;
}

.tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: #ff2525;
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    bottom: -15%;
    transition-duration: 0.2s;
}

button.btn3:hover .tooltip {
    top: -35px;
    opacity: 1;
    transition-duration: 0.2s;
}

/* button 4 */
button.btn4 {
    user-select: none;
    position: relative;
    padding: 10px;
    height: 100px;
    padding-bottom: 15px;
    margin-block-end: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    background-color: rgb(217, 238, 242);
    background-image: linear-gradient(180deg,
            rgb(201, 194, 240) 30%,
            transparent 70%);
    background-repeat: no-repeat;
    background-position: center 45%;
    background-size: 100% 200%;
    overflow: hidden;
    transition: all 0.3s ease;
    animation: liquid-idle 5s infinite;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
}

button.btn4 span {
    position: relative;
    color: #fff;
    font-size: 20px;
    font-family: Arial, sans-serif;
    letter-spacing: 8px;
    z-index: 1;
}

button.btn4::before,
button.btn4::after {
    content: "";
    inset: 0;
    position: absolute;
    border-radius: 5em;
}

button.btn4::before {
    left: 0;
    width: 100%;
    height: 220px;
    background-image: radial-gradient(ellipse,
            rgba(204, 246, 255, 0.8) 20%,
            transparent 50%,
            transparent 200%),
        linear-gradient(90deg,
            #404040 -10%,
            transparent 30%,
            transparent 70%,
            #404040 110%);
    box-shadow:
        inset 0 0.25em 0.75em rgba(0, 0, 0, 0.8),
        inset 0 -0.05em 0.2em rgba(255, 255, 255, 0.4),
        inset 0 -1px 3px rgba(25, 196, 230, 0.75);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size:
        200% 80%,
        cover;
    background-position: center 220%;
    mix-blend-mode: overlay;
    filter: blur(4px);
    transition: 0.5s;
}

button.btn4:hover::before {
    animation: liquid-hover 2.5s infinite;
}

button.btn4:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
    transform: translateY(-5px) perspective(100px) rotateX(5deg) rotateY(-5deg);
}

button.btn4:active {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
    transform: translateY(0px) perspective(100px) rotateX(-5deg) rotateY(5deg);
}

@keyframes liquid-idle {

    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    34% {
        border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%;
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

@keyframes liquid-hover {

    0%,
    100% {
        border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%;
    }

    34% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    67% {
        border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%;
    }
}

@keyframes droplet-fall-1 {
    0% {
        transform: translateY(-50px) scale(0);
        opacity: 0.7;
    }

    100% {
        transform: translateY(150px) scale(1);
        opacity: 0;
    }
}

@keyframes droplet-fall-2 {
    0% {
        transform: translateY(-30px) scale(0);
        opacity: 0.7;
    }

    100% {
        transform: translateY(130px) scale(1);
        opacity: 0;
    }
}

@keyframes droplet-fall-3 {
    0% {
        transform: translateY(-40px) scale(0);
        opacity: 0.7;
    }

    100% {
        transform: translateY(140px) scale(1);
        opacity: 0;
    }
}